 <!DOCTYPE html lang="en">
<html>
    <head>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Health Tracker</h1>
            <span class="sub-text">Log your diet and your caloric intake</span>
            <hr>
            <div class="page"></div>
        </div>

    <!-- Template Files -->
    <script id="mealListTemplate" type="text/template">
            <!-- a href="#/new" class="btn btn-primary">New User</a -->
            <hr>
            <table class="table striped">
                <thead>
                        <tr>
                        <td>Meal Type</td>
                        <td>Meal</td>
                        <td>Calories</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <% _.each(meals, function(meal) { %>
                        <tr>
                            <td><%= meal.get('mealType') %></td>
                            <td><%= meal.get('meal') %></td>
                            <td><%= meal.get('calories') %></td>
                            <td><a href="#/edit/<%= meal.id %>" class="btn">Edit</a></td>
                        </tr>

                    <% }); %>
            </table>
        </script>

        <script type="text/template" id="newMealemplate">
            <form class="edit-meal-form">
                <legend><%= meal ? 'Edit' : 'Create' %> User</legend>

                <label>First Name</label>
                <input type="text" name="mealType" value="<%= meal ? meal.get('mealType') : '' %>">

                <label>Last Name</label>
                <input type="text" name="meal" value="<%= meal ? meal.get('meal') : '' %>">

                <label>Age</label>
                <input type="text" name="cals" value="<%= meal ? meal.get('calories') : '' %>">
                <hr>

                <button type="submit" class="btn"><%= meal ? 'Edit' : 'Create' %></button>

                <% if (meal) { %>
                    <input type="hidden" name="id" value="<%= meal.id %>">
                    <button class="btn btn-danger delete">Delete</button>
                <% }; %>
            </form>
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>

        <script src="js/app.js"></script>
    </body>
</html>